main {
    display: flex;
    flex-direction: column-reverse;
}

.photographer-header {
    background-color: #FAFAFA;
    height: 400px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.photographer-name {
    color: #D3573C;
    font-size: 64px;
    margin-bottom: 0;
}

.photographer-localisation {
    color: #901C1C;
    font-size: 24px;
}

.photographer-tagline {
    color: #525252;
    font-size: 18px;
}

.photographer-header img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(49, 49, 49, 0.3);
    object-fit: cover;
}

.contact-button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact-button:hover,
.contact-button:focus {
    background-color: #DB8876;
}

form .contact-button:hover,
form .contact-button:focus {
    background-color: #FAFAFA;
    color: #901C1C;
}

.medias-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 100px;
    column-gap: calc((1440px - 350px * 3) / 2);
    margin: 0;
}

.mediaCard {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.mediaCard img,
.mediaCard video {
    height: 350px;
    width: 350px;
    object-fit: cover;
    box-shadow: 0 5px 10px rgba(49, 49, 49, 0.3);
    cursor: pointer;
}

.media-infos {
    display: flex;
    justify-content: space-between;
}

.media-title,
.media-likes {
    font-size: 20px;
    color: #901C1C;
    font-weight: 400;
}

.more-info {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
    background-color: #DB8876;
    padding: 1.5rem;
    bottom: 0;
    right: 0;
    font-weight: bold;
    margin-right: 5rem;
    border-radius: 10px 10px 0 0;
    font-size: 24px;
}

.more-info p {
    margin: 0;
}

#contact-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(49, 49, 49, 0.25);
    border : none;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 4rem auto;
}

.modal header {
    width: 100%;
    margin: 1rem 0;
}

.modal header img {
    cursor: pointer;
}

.modal header img:hover,
.modal header img:focus {
    filter: brightness(0.2) sepia(10) hue-rotate(-70deg) saturate(5);
}

.modal header h2 {
    font-size: 60px;
    font-weight: normal;
    margin: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
    margin-top: 1rem;
    margin-bottom: .2rem;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 10px;
}

#message {
    height: 170px;
    width: 100%;
    border-radius: 5px;
    resize: none;
    padding: 10px;
    font-size: 16px;
}

#lightbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
    overflow: hidden;
}

#lightbox::backdrop {
    background-color: white;
}

.lightbox-container {
    display: flex;
    align-items: center;
    position: relative;
}

#lightbox img,
#lightbox video {
    width: 45rem;
    height: 45rem;
    object-fit: cover;
}

.lightbox-media-name {
    color: #901C1C;
    font-size: 1.3rem;
    margin-top: 1rem;
}

.left-arrow,
.right-arrow {
    color: #901C1C;
    font-size: 100px;
    cursor: pointer;
}

.close-button {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 50px;
    cursor: pointer;
}

.medias-section i {
    cursor: pointer
}

.hidden-body {
    overflow: hidden;
}

.filters-container {
    margin: 2rem 0;
    display: flex;
    gap: 1rem;
    font-weight: 900;
    align-items: center;
    position: relative;
}

.filters {
    font-weight: 400;
    position: absolute;
    top: 3px;
    left: 80px;
    display: flex;
    align-items: center;
}

.filters-list {
    margin: 0;
    padding: 0;
    background-color: #901C1C;
    border-radius: 10px;
    width: 9rem;
}

.filters-list li {
    list-style-type: none;
    padding: .8rem 1rem;
    color: white;
    width: 5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    cursor: pointer;
    justify-content: space-between;
}

.filters-list li:not(:last-child) {
    border-bottom: 1px solid white;
}

.filters-list li:first-child {
    border-bottom: none;
}

.filters-list.show li:first-child {
    border-bottom: 1px solid white;
}

.filters-list li:not(:first-child) {
    display: none;
}

.filters-list.show li:not(:first-child) {
    display: flex;
}

input::placeholder {
    color : rgba(0, 0, 0, 0.4);
}