@import url("photographer.css");

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

h1 {
    color: #901C1C;
    margin-right: 5rem;
    font-size: 3rem;
    font-weight: 400;
}

.logo {
    height: 60px;
    margin-left: 5rem;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 100px;
    column-gap: 200px;
    margin-top: 100px;
    padding: 0 2rem;
}

.photographer_section article {
    margin : 0 auto;
}

.photographer_section article a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 2.5rem;
    margin-bottom : .3rem;
    text-align: center;
    font-weight: 400;
}

.photographer_section article img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 5px 10px rgba(49, 49, 49, 0.3);
}

.photographer_section article div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photographer_section article p {
    margin : .2rem 0;
    font-size : 1.1rem;
}

.photographer_section article p:first-child {
    color : #901C1C;
    font-size : 1.3rem;
}

.photographer_section article p:last-child {
    color : #757575;
    font-size: 1rem;
}